/* All files */
* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    font-family: Arial, sans-serif; 
  }

/* Sign out */
header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .sign-out-button {
    background-color: #932F2F; 
    color: white; 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sign-out-button:hover {
    background-color: #5D1D1D; 
  }